.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
}

.restaurants-cards {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 17px;

    img {
        height: 173px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
    }   
    
    .card-content {
        width: 100%;
        padding: 13px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .card-title {
        margin-bottom: 4px;
        font-size: 18px;
    }

    .card-subtitle {
        font-size: 17px;
        font-weight: 300;
    }
}

.row {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.new {
    display: flex;
    align-self: flex-end;
    position: absolute;
    color: $new-text;
    background-color: $new-background;
    font-size: 14px;
    margin: 10px 13px;
    padding: 6px 12px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.like {
    all: unset;
    display: flex;
    align-self: flex-end;
    position: absolute;
    margin-right: 15px;
    margin-top: 18px;
    
    .fa-heart {
        width: 22px;
        height: 21px;
    }
}

.menu-cards {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0 5px 0;
    width: 100%;

    .card {
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    }
    
    .card-content {
        width: 100%;
        padding: 12px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    .card-title {
        margin-bottom: 4px;
        font-size: 18px;
        font-weight: 500;
    }

    .card-subtitle {
        font-size: 15px;
        font-weight: 300;
    }

    .price {
        position: absolute;
        display: flex;
        align-self: flex-end;
        margin-top: 25px;
        font-size: 15px;
        font-weight: 700;
    }
}

@media /*Tablet*/ (min-width: 767px) {

    .restaurants-cards {
        padding-bottom: 30px;
        gap: 50px;
    }

    .row {
        display: flex;
        flex-direction: row;
        
        a {
            width: 100%;
        }
    }
}

@media /*Desktop*/ (min-width: 1024px) {

    .row {
        gap: 100px;
    }

    .menu-cards {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0 5px 0;
        width: 100%;

        .card-content {
            margin: 0;
        }
    }

    .like {
        margin-right: 24px;
        margin-top: 16px;  
    }
}
